/* .Experience card {
  padding-top: 2rem;
  padding-bottom: 2rem; */
/* padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important; */
/* } */
.card {
  margin-bottom: 1rem;
}

.stdstyle {
  padding-left: 1rem;
  padding-right: 1rem;
}