.xp-bullets {
  max-height: 10rem;
  overflow: hidden;
  padding-top: .5rem;
}

.xp-footer {
  padding-top: .5rem;

}

.see-more {
  position: absolute;
  right: 1rem;
}

.xp-body {
  background: linear-gradient(rgba(0, 0, 0, 0), white);
}